body{
    text-align: center;
    padding-top: 20px;
    
}
p{
    color: black;
    font-size: 20px;
    background-color: transparent;
    
}
p[id="param"]:hover{
    color: rgb(0,0, 227);
    font-size: 19.9px;
}
#dialog{
    margin: 130px auto;
    border-width:0px;
    border-radius: 10px;
    border-color:transparent;
    outline: none;
    background-color: rgb(236, 236, 236);
    width: 390px;
    height: 150px;
    
}
#cancel{
    visibility:hidden;
    opacity: 0;
    position: absolute;
    font-weight: bold;
    color: rgb(99, 99, 99);
    font-size:20px ;
    right: 1px;
    top: 1px;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 10px;
    border-width: 0px;
    text-align: center;
    width: 50px;
    height: 30px;
    background-color: rgb(248, 223, 223);
    display: inline-block;
    transition: opacity ease-in 250ms;
}
#yes{
    border-width:0px;
    border-radius: 5px;
    outline: none;
    border-color:transparent;
    background-color: rgb(74,197, 74);
    padding: 2px;
    position: relative;
    top: 55px;
    right: 70px;
    height: 30px;
    width: 80px;
    font-weight: 700;
}
#No{
    outline: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 5px;
    background-color: rgb(197, 74, 74);
    padding: 2px ;
    position: relative;
    top: 55px;
    left: 70px;
    height: 30px;
    width: 80px;
    font-weight: 700;
    
}
#yes:hover , #No:hover{
    opacity: 0.8;
}
